@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

:root {
	--moderateviolet: hsl(263, 55%, 52%);
	--verydarkgrayishblue: hsl(217, 19%, 35%);
	--verydarkblackishblue: hsl(219, 29%, 14%);
	--white: hsl(0, 0%, 100%);

	/*### Neutral*/
	--light-gray: hsl(0, 0%, 81%);
	--Lightgrayishblue: hsl(210, 46%, 95%)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif;
	font-size: 13px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(images/trees.jpg) no-repeat center;
	background-size: cover;
}

.card-container {
	padding: 3rem;
	display: grid;
	grid-gap: 1rem;
	max-width: 1200px;
}

.card {
	border-radius: 11px;
	padding: 2rem 3rem;
	-webkit-box-shadow: 5px 5px 17px -6px #8C8C8C;
	box-shadow: 5px 5px 17px -6px #8C8C8C;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

img {
	border-radius: 50%;
	border: 3px solid #fff;
	margin: 1rem 1rem 1rem 0;
}

h1 {
	font-size: 1.5rem;
	font-weight: 600;
	padding-bottom: .5rem
}

h2 {
	font-weight: 400;
	opacity: 50%;
}

p {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

q {
	line-height: 1.7;
	font-size: 1.1rem;
}

.daniel {
	background: url(images/bg-pattern-quotation.svg) no-repeat 80% 0%;
	background-size: 170px;
	background-color: var(--moderateviolet);
}

.jon {
	background-color: var(--verydarkgrayishblue);
}

.patrick {
	background-color: var(--verydarkblackishblue);
}

.danjonpatwhitetext {
	color: #fff;
}

.danjonpatwhitetext q {
	opacity: 70%;
}

.imgborderpurple {
	border: 3px solid hsl(264, 82%, 70%);
}

.jkbggrey {
	background-color: var(--white);
}

.attribution {
	font-size: 11px;
	text-align: center;
	background-color: rgba(240,240,240,.8)
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
	.card-container {
		grid-template-columns: repeat(9, auto);
		grid-template-rows: repeat(2, auto);
		grid-gap: 1rem 2rem;
	}

	.daniel {
		grid-column: 1 / span 6;
	}

	.jon {
		grid-column: 7 / span 1;
	}

	.kira {
		grid-column: 8 / span 2;
		grid-row: 1 / span 2
	}

	.jeanette {
		grid-column: 1 / span 1;
	}

	.patrick {
		background-color: var(--verydarkblackishblue);
		grid-column: 2 / span 6;
	}
}
